<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/a8428e0956eeb9cb5dc0837b/w/215e1c7b82e0a3e430162508/e/19ba179f8507112ee7916c45 -->
<robot name="2dof-robot">
  <!-- Link ebamk2_01 -->
  <link name="ebamk2_01">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part 019_cover -->
    <visual>
      <origin xyz="0 0 0.055" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/019_cover.stl"/>
      </geometry>
      <material name="019_cover_material">
        <color rgba="0.843137 0.352941 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.055" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/019_cover.stl"/>
      </geometry>
    </collision>
    <!-- Part 013_lower_base -->
    <visual>
      <origin xyz="0 -0 0.034" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/013_lower_base.stl"/>
      </geometry>
      <material name="013_lower_base_material">
        <color rgba="0.843137 0.352941 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 0.034" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/013_lower_base.stl"/>
      </geometry>
    </collision>
    <!-- Part mg946r -->
    <visual>
      <origin xyz="-0.06605 -0 0.0085" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/mg946r.stl"/>
      </geometry>
      <material name="mg946r_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.06605 -0 0.0085" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/mg946r.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball -->
    <visual>
      <origin xyz="0 0.0309123 0.0428783" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0309123 0.0428783" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 010_gearservo -->
    <visual>
      <origin xyz="-0.0563 -0.00075 0.04445" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/010_gearservo.stl"/>
      </geometry>
      <material name="010_gearservo_material">
        <color rgba="0.843137 0.352941 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0563 -0.00075 0.04445" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/010_gearservo.stl"/>
      </geometry>
    </collision>
    <!-- Part mg946r_piattelo -->
    <visual>
      <origin xyz="-0.0563 -0 0.0459" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/mg946r_piattelo.stl"/>
      </geometry>
      <material name="mg946r_piattelo_material">
        <color rgba="0.0431373 0.0392157 0.0392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0563 -0 0.0459" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/mg946r_piattelo.stl"/>
      </geometry>
    </collision>
    <!-- Part 012_base -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/012_base.stl"/>
      </geometry>
      <material name="012_base_material">
        <color rgba="0.843137 0.352941 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/012_base.stl"/>
      </geometry>
    </collision>
    <!-- Part 606 -->
    <visual>
      <origin xyz="0 0 0.037" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/606.stl"/>
      </geometry>
      <material name="606_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.037" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/606.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_2 -->
    <visual>
      <origin xyz="0.0181698 -0.0250086 0.0428783" rpy="0 -0 -2.51327"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_2_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0181698 -0.0250086 0.0428783" rpy="0 -0 -2.51327"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_3 -->
    <visual>
      <origin xyz="0.0261001 0.0165636 0.0428783" rpy="0 -0 -1.00531"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_3_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0261001 0.0165636 0.0428783" rpy="0 -0 -1.00531"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_4 -->
    <visual>
      <origin xyz="-0.0113796 -0.0287415 0.0428783" rpy="0 -0 2.7646"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_4_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0113796 -0.0287415 0.0428783" rpy="0 -0 2.7646"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_5 -->
    <visual>
      <origin xyz="0.00387434 -0.0306685 0.0428783" rpy="0 -0 -3.01593"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_5_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00387434 -0.0306685 0.0428783" rpy="0 -0 -3.01593"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_6 -->
    <visual>
      <origin xyz="0.0148921 0.0270886 0.0428783" rpy="0 -0 -0.502655"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_6_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0148921 0.0270886 0.0428783" rpy="0 -0 -0.502655"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_7 -->
    <visual>
      <origin xyz="-0.0308513 0.001941 0.0428783" rpy="0 -0 1.50796"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_7_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0308513 0.001941 0.0428783" rpy="0 -0 1.50796"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_8 -->
    <visual>
      <origin xyz="0.00768757 0.0299411 0.0428783" rpy="0 -0 -0.251327"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_8_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00768757 0.0299411 0.0428783" rpy="0 -0 -0.251327"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_9 -->
    <visual>
      <origin xyz="0.0303647 -0.00579238 0.0428783" rpy="0 -0 -1.75929"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_9_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0303647 -0.00579238 0.0428783" rpy="0 -0 -1.75929"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_10 -->
    <visual>
      <origin xyz="0.0308513 0.001941 0.0428783" rpy="0 -0 -1.50796"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_10_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0308513 0.001941 0.0428783" rpy="0 -0 -1.50796"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_11 -->
    <visual>
      <origin xyz="-0.0303647 -0.00579238 0.0428783" rpy="0 -0 1.75929"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_11_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0303647 -0.00579238 0.0428783" rpy="0 -0 1.75929"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_12 -->
    <visual>
      <origin xyz="-0.0261001 0.0165636 0.0428783" rpy="0 -0 1.00531"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_12_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0261001 0.0165636 0.0428783" rpy="0 -0 1.00531"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_13 -->
    <visual>
      <origin xyz="0.0238183 -0.0197042 0.0428783" rpy="0 -0 -2.26195"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_13_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0238183 -0.0197042 0.0428783" rpy="0 -0 -2.26195"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_14 -->
    <visual>
      <origin xyz="-0.0148921 0.0270886 0.0428783" rpy="0 -0 0.502655"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_14_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0148921 0.0270886 0.0428783" rpy="0 -0 0.502655"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_15 -->
    <visual>
      <origin xyz="0.0113796 -0.0287415 0.0428783" rpy="0 -0 -2.7646"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_15_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0113796 -0.0287415 0.0428783" rpy="0 -0 -2.7646"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_16 -->
    <visual>
      <origin xyz="0.0211609 0.0225341 0.0428783" rpy="0 -0 -0.753982"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_16_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0211609 0.0225341 0.0428783" rpy="0 -0 -0.753982"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_17 -->
    <visual>
      <origin xyz="-0.0181698 -0.0250086 0.0428783" rpy="0 -0 2.51327"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_17_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0181698 -0.0250086 0.0428783" rpy="0 -0 2.51327"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_18 -->
    <visual>
      <origin xyz="-0.0211609 0.0225341 0.0428783" rpy="0 -0 0.753982"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_18_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0211609 0.0225341 0.0428783" rpy="0 -0 0.753982"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_19 -->
    <visual>
      <origin xyz="-0.0238183 -0.0197042 0.0428783" rpy="0 -0 2.26195"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_19_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0238183 -0.0197042 0.0428783" rpy="0 -0 2.26195"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_20 -->
    <visual>
      <origin xyz="-0.00768757 0.0299411 0.0428783" rpy="0 -0 0.251327"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_20_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00768757 0.0299411 0.0428783" rpy="0 -0 0.251327"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_21 -->
    <visual>
      <origin xyz="0.0279703 -0.0131618 0.0428783" rpy="0 -0 -2.01062"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_21_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0279703 -0.0131618 0.0428783" rpy="0 -0 -2.01062"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_22 -->
    <visual>
      <origin xyz="-0.00387434 -0.0306685 0.0428783" rpy="0 -0 3.01593"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_22_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00387434 -0.0306685 0.0428783" rpy="0 -0 3.01593"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_23 -->
    <visual>
      <origin xyz="0.0293993 0.00955242 0.0428783" rpy="0 -0 -1.25664"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_23_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0293993 0.00955242 0.0428783" rpy="0 -0 -1.25664"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_24 -->
    <visual>
      <origin xyz="-0.0279703 -0.0131618 0.0428783" rpy="0 -0 2.01062"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_24_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0279703 -0.0131618 0.0428783" rpy="0 -0 2.01062"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part 020_ball_25 -->
    <visual>
      <origin xyz="-0.0293993 0.00955242 0.0428783" rpy="0 -0 1.25664"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
      <material name="020_ball_25_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0293993 0.00955242 0.0428783" rpy="0 -0 1.25664"/>
      <geometry>
        <mesh filename="package://assets/020_ball.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
